# Including desig.md document for showing process on the repository and
# that could be added to the project in the future
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below if you use Go modules)
vendor/

# Go workspace file
go.work

# Ignoring data temporarly
data/

# Ignore unecessary documentations
docs/instructions.md
docs/ideation.md
docs/counter-ideation.md
docs/go-notes.md
docs/network-notes.md
docs/routing-configuration.md

# Ignore kathara files
kathara